<body ng-app='app'>
    <nav class="navbar navbar-inverse navbar-center">
        <a class="navbar-brand navbar-center" href="#" ui-sref-active="active" ui-sref="home"><span>Home</span></a>
        <a class="navbar-brand navbar-center" href="#" ui-sref-active="active" ui-sref="about"><span>About</span></a>
        <a class="navbar-brand navbar-center" href="#" ui-sref-active="active" ui-sref="blog"><span>Blog</span></a> 
    </nav>
    <div ui-view>
    </div>
</body>
