<div class="container text-center blog-page" >
    <div class="move">
        <p class="pull-right" >
            <i class="fa fa-star"></i>
        </p>
    </div>
	<h1>{{ test }}</h1>

  <br>
  <br>
  <div>
    <dynamic ng-repeat="section in sections" 
             content="section.content"  
             page="'blog'"
             section="section"
             id="section.id"
             editable="editButtons"
             contenteditable="false"
             class="col-lg-8 col-lg-offset-2 blog">
    </dynamic>
  </div>
  <footer class="col-lg-12">
    <button class="btn" ng-click="signIn()">Sign In</button>
  </footer>
</div>