<div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About
                        <strong>Total Roofing</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="images/slide-2.jpg" alt="">
                </div>
<!--                ADD CONTENT HERE -->
                <div class="col-md-6">
<!--
                     <p>Getting your roof repaired and locating a reputable contractor shouldn’t be a struggle, especially if your existing roof has suffered damage from wind or hail. At Total Residential Roofing, we believe your roofing repair process should be a pleasant experience. We work with all insurance companies to get you the best insurance settlements from roof damage.</p>

                      <p>At Total Residential Roofing, we service the Dallas, Fort Worth, Austin, Amarillo and surrounding areas. Our roofing repair company offers exceptional customer service, as well as trained technicians that are well educated on the installation process for all roofing types and roof systems, including those made from wood, metal or composition.</p>

                      <p>We service both residential and commercial roofing systems and handle re-roofing, new construction and repairs. Our Dallas roofing repair company professionally installs complete roof systems, as well as patio covers and durable metal roofs.</p>
-->
                      <dynamic ng-repeat="section in sections" 
                         content="section.content"  
                         page="'about'"
                         section="section"
                         id="section.id"
                         position="section.position"
                         editable="editButtons"
                         contenteditable="false"
                         class="move col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      </dynamic>
                    <!--                ADD CONTENT HERE -->

                </div>
                <div class="clearfix"></div>
            </div>
           <dynamic ng-repeat="section in sections" 
               content="section.content"  
               page="'about'"
               section="section"
               id="section.id"
               position="section.position"
               editable="editButtons"
               contenteditable="false"
               class="move box col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </dynamic>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our
                        <strong>Team</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://i.huffpost.com/gen/2681096/images/s-VINCE-VAUGHN-STOCK-PHOTO-large.jpg" alt="">
                    <h3>Vince Vaughn
                        <small>Lead Creative Consultant</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://www.pleated-jeans.com/wp-content/uploads/2015/03/iStock-Unfinished-Business-10-1.jpg" alt="">
                    <h3>Niel Sniggams
                        <small>Lead Grumpy Janitor</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-prn2/v/t1.0-9/1150979_10151770345647350_175518573_n.jpg?oh=d17da17bdf98d35dd9595b785a923d28&oe=55849223&__gda__=1437522254_9d93f4f2f864128fcc5b6fffbe1c4d1d" alt="">
                    <h3>Gabe Rubio
                        <small>Team Lead</small>
                    </h3>
                </div>
                
                <div class="clearfix"></div>
            </div>
            <div class="box">
                <div class="img-responsive img-border img-center">
                    <img class="img-responsive" src="images/ScreenShot.png" alt="">
<!--                    <h2>(put in seperate box!) Put in Business associations and sister companies</h2>-->
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
  <section ng-controller="PostCtrl"> 
    <div>
      <p ng-click="formShow = true" class="text-center">
        <i class="fa fa-plus-square-o fa-4x"></i>      
      </p>
    </div>
    <div ng-show="formShow" class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
      <div>
        <div>
          
          <textarea rows="4" cols="100" ng-model="caption" type="text" placeholder="type here..." ></textarea>
        </div>
      </div>
      <div>
        <div class="text-right">
          <button ng-click="postContent()" class="btn btn-success btn-lg">Post</button>
          <button ng-click="formShow = false"id="button2id" name="button2id" class="btn btn-lg btn-danger">Cancel</button>
        </div>
      </div>
    </div> 
  </section>
