<section class="total-roofing">
  <div class="container">
          <div class="row">
              <div class="box">
                  <div class="col-lg-12">
                      <hr>
                      <h2 class="intro-text text-center">About
                          <strong>Total Roofing</strong>
                      </h2>
                      <hr>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <p>This is some static text that will be replaced with something else. </p>
                  </div>
  <!--                ADD CONTENT HERE -->
                  <div class="col-lg-6 col-md-6 col-sm-12" ng-controller="About2Ctrl">
                        <dynamic ng-repeat="section in sections" 
                           content="section.content"  
                           page="'about2'"
                           section="section"
                           id="section.id"
                           position="section.position"
                           editable="signedIn"
                           contenteditable="false"
                           class="move col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        </dynamic>
  <!--                                    ADD CONTENT HERE -->
                        <section ng-controller="PostCtrl" ng-show="signedIn"> 
                          <div>
                            <p ng-click="formShow = true" class="text-center">
                              <button class="btn btn-success"><i class="plus fa fa-plus-square-o fa-4x"></i></button>    
                            </p>
                          </div>
                          <div ng-show="formShow" class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
                            <div>
                              <div>

                                <textarea rows="4" cols="100" ng-model="caption" type="text" placeholder="type here..." ></textarea>
                              </div>
                            </div>
                            <div>
                              <div class="text-right">
                                <button ng-click="postContent('about2')" class="btn btn-success btn-lg">Post</button>
                                <button ng-click="formShow = false"id="button2id" name="button2id" class="btn btn-lg btn-danger">Cancel</button>
                              </div>
                            </div>
                          </div> 
                        </section>
                  </div>
                  <div class="clearfix"></div>
              </div>
             <dynamic ng-repeat="section in sections" 
                 content="section.content"  
                 page="'about'"
                 section="section"
                 id="section.id"
                 position="section.position"
                 editable="signedIn"
                 contenteditable="false"
                 class="move box col-lg-12 col-md-12 col-sm-12 col-xs-12">
              </dynamic>
              <section ng-controller="PostCtrl" ng-show="signedIn"> 
                <div>
                  <p ng-click="formShow = true" class="text-center">
                    <button class="btn btn-success"><i class="plus fa fa-plus-square-o fa-4x"></i></button>    
                  </p>
                </div>
                <div ng-show="formShow" class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
                  <div>
                    <div>

                      <textarea rows="4" cols="100" ng-model="caption" type="text" placeholder="type here..." ></textarea>
                    </div>
                  </div>
                  <div>
                    <div class="text-right">
                      <button ng-click="postContent()" class="btn btn-success btn-lg">Post</button>
                      <button ng-click="formShow = false"id="button2id" name="button2id" class="btn btn-lg btn-danger">Cancel</button>
                    </div>
                  </div>
                </div> 
              </section>
          </div>

          <div class="row">
              <div class="box">
                  <div class="col-lg-12">
                      <hr>
                      <h2 class="intro-text text-center">Our
                          <strong>Team</strong>
                      </h2>
                      <hr>
                  </div>
                  <div class="row">
                    <div class="col-sm-4 text-center">
<!--                        <img class="img-responsive img-center" src="/images/scott.jpg" alt="Scott">-->
                        <h3>Scott<br>
                            <small>Senior Sales Representative</small>
                        </h3>
                    </div>
                    <div class="col-sm-4 text-center">
<!--                        <img class="img-responsive img-center" src="/images/ScreenShot.jpg" alt="Steve">-->
<!--                        <img class="img-responsive img-center" src="/images/Steven Kemper.jpg" alt="Steve">-->
                        <h3>Steven Kemper<br>
                            <small>President\Owner</small>
                        </h3>
                    </div>
                    <div class="col-sm-4 text-center">
                        <img class="img-responsive img-center" src="/images/stephanie.jpg" alt="">
                        <h3>Stephanie<br>
                            <small>Project Manager</small>
                        </h3>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                
                  <div class="row">
                    <div class="col-sm-4 text-center">
                        <img class="img-responsive img-center" src="/images/tammy.jpg" alt="">
                        <h3>Tammy<br>
                            <small>Operations Manager</small>
                        </h3>
                    </div>
                    <div class="col-sm-4 text-center">
                        <img class="img-responsive img-center" src="/images/chris2.jpg" alt="">
                        <h3>Chris<br>
                            <small>VP Commercial Sales</small>
                        </h3>
                    </div>
                    <div class="col-sm-4 text-center">
                        <img class="img-responsive img-center" src="/images/stephanie.jpg" alt="">
                        <h3>Sherra<br>
                            <small>Project Accountant</small>
                        </h3>
                    </div>
                    <div class="clearfix"></div>
                  </div>
              </div>
              <div class="box">
                  <div class="col-sm-3 text-center">
                      <a href="http://bbb.com"><img class="img-responsive img-center" src="/images/bbb.png" alt=""></a>
                  </div>
                  <div class="col-sm-3 text-center">
                      <img class="img-responsive img-center" width="60%" src="/images/consumer_choice_award.png" alt="">
                  </div>
                  <div class="col-sm-3 text-center">
                      <img class="img-responsive img-center" src="/images/master_elite.png" alt="">
                  </div>
                  <div class="col-sm-3 text-center">
                      <img class="img-responsive img-center" src="/images/roofing_association.jpg" alt="">
                  </div>
              </div>
          </div>
  </div>
  <!--Moving headers around-->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <p>Copyright &copy; Total Roofing 2015</p>
          </div>
        </div>
      </div>

      <section ng-hide="signedIn">
        <a href="#" ui-sref-active="active" ui-sref="deltaLogin">
            <button class="btn btn-xs" ng-click="signIn()">Sign In</button>
        </a>
  <!--
        <a href="#" ui-sref-active="active" ui-sref="register">
            <button class="btn btn-xs" ng-click="register()">Register</button>
        </a>
  -->
      </section>
      <section ng-controller="NavCtrl" ng-show="signedIn">
        <button class="btn" ng-click="logout()">
          Logout
        </button>
      </section>
    </footer>
</section>

    <!-- /.container -->
