<iframe src="//giphy.com/embed/niGlBIhHUpaOA?html5=true" width="100%" height="900px" 
        frameBorder="0" webkitAllowFullScreen 
        mozallowfullscreen allowFullScreen>
</iframe>
<section  class="container" id="login-container" ng-controller="LoginCtrl">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <br>
      <img class="col-md-4 col-md-offset-4" width="35%" src="/images/Triangle_model_of_love.png">
      <form ng-submit="login(htmlCredentials)" novalidate>
        <div id="login-form">
          <div class="login-panel panel panel-default">
            <div ng-click="signin = !signin" class="panel-heading">
              <h3 class="panel-title">Sign In</h3>
            </div>
              <div ng-show="signin == true" class="panel-body">
                  <div class="form-group">
<!--                    <label>Email address</label>-->
                    <input type="email" class="form-control" 
                           ng-model="htmlCredentials.identifier" 
                           placeholder="Enter email"
                           autofocus>
                    <p ng-show="loginError1" class="alert alert-danger" role="alert" ng-bind="emailError"></p>
                  </div>

                  <div class="form-group">
<!--                          <label>Password</label>-->
                          <input type="password" class="form-control" 
                                 ng-model="htmlCredentials.password" 
                                 placeholder="Password">
                          <p ng-show="loginError2" class="alert alert-danger" role="alert" ng-bind="passwordError"></p>
                  </div>
                  <button type="submit" class="btn btn-lg btn-success btn-block"><span>Login</span></button>  
              </div>
          </div>
<!--          Register -->
          <div class="register login-panel panel panel-default">
            <div ng-click="register = !register" class="panel-heading">
              <h3 class="panel-title">Register</h3>
            </div>
              <div ng-show="register == true" class="panel-body">
                  <div class="form-group">
                    <input type="email" class="form-control" 
                           ng-model="htmlCredentials.identifier" 
                           placeholder="Enter email"
                           autofocus>
                    <p ng-show="loginError1" class="alert alert-danger" role="alert" ng-bind="emailError"></p>
                  </div>

                  <div class="form-group">
                          <input type="password" class="form-control" 
                                 ng-model="htmlCredentials.password" 
                                 placeholder="Password">
                          <p ng-show="loginError2" class="alert alert-danger" role="alert" ng-bind="passwordError"></p>
                  </div>
                  <button type="submit" class="btn btn-lg btn-success btn-block"><span>Login</span></button>  
              </div>
          </div>
          <br>
          <br>
          
          
        </div>
      </form>
      
      <div class="forms panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Delta</h2>
              <h5 class="text-muted panel-subtitle">A HOSTED CMS,<br> BUILT FOR DESIGNERS & CLIENTS</h5>
            </div>
              <div class="panel-body">
                <p class="text-left">Delta is Easy. Delta is the Greek symbol commonly used in mathmatics denoting change over time.</p>
                <p class="text-left">With Delta, designers and clients alike can manage and update their sites with a simple to use CMS. </p>
              </div>
          </div>
      
      
    </div>
  </div>
</section>

<!--
<div style="max-width: 500px;" id="_giphy_niGlBIhHUpaOA">Here!</div>
<script>
  var _giphy = _giphy || []; 
  _giphy.push({id: "niGlBIhHUpaOA",w: 500, h: 281});
  var g = document.createElement("script"); g.type = "text/javascript"; 
  g.async = true;g.src = ("https:" == document.location.protocol ? "https://" : "http://") + "giphy.com/static/js/widgets/embed.js";var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(g, s);
</script>-->
