<!-- set move to true using ng-class once signed in successfully -->
<div id='div1' class="edit" ng-hide="deleted"
     ng-style="position">
  <div ng-show="editable">
    <button class="btn pull-right" ng-click="edit()">
        <i class="fa fa-pencil"></i>
    </button>
    <button class="btn pull-right" ng-click="deletePost()">
        <i class="fa fa-times"></i>
    </button>
  </div>
  <div>
      <textarea rows="4" cols="70" ng-show="textShow" type="text" ng-model="content">
      </textarea>
  </div>
  <div ng-show="!textShow">
      <div>{{ position }}</div>
      <p>{{content}}</p>
  </div>
  <button class="btn btn-default" ng-show="saveButton" ng-click="save()">Save</button>
</div>
